body{
    margin: 0;
    padding: 0;

   background-image: url(/imgs/adrien-olichon-WNs0bW8kHTM-unsplash.jpg);
   width: 100%;
   height:70vh;
   background-size: cover;
        
}




#logbg{    
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    width: 450px;
    border: 2px solid black;
    border-radius: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
   border-color: #00FFAB;   
}

.logii{
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 450px;
    left: 680px;
}

#username{
    margin: auto;
}

#UserName{
    height: 34px;
    width: 220px;
    margin-top: 20px;
    border: 3px solid #00FFAB;
    background-color: transparent;
    border-radius: 336px;
}
#UserName:hover{
    border: 3px solid #f8ff97;
    transition: 0.3s ease;
}

#UserName::placeholder{
text-align: center;
}

#Password{
    height: 34px;
    width: 220px;
    background-color: transparent;
    margin-top: 30px;
    border: 3px solid #00FFAB;
    border-radius: 336px;   
}
#Password:hover{
    border: 3px solid #f8ff97;
    transition: 0.3s ease;
}
#Password::placeholder{
    text-align: center;
    }
    

#pass{
    margin: auto;
}
#submit{
    margin: auto;
}

#sd{
    height: 45px;
    width: 85px;
    border-radius: 336px;
    margin-top: 30px;
    border-color: #e422a69d;
    background-color: #2E0249;
    color: white;
transition: 0.5s ease;
}


#sd:hover{
    border-color: #FFD24C;
color: black;
background-color: #FFE69A;
transition: 0.5s ease;
}